@import 'landing';
@import 'footer';
@import 'nav';
@import 'invalid';
@import 'user-content';
@import 'updates';
@import 'drop-down-menu';
@import 'polls';
@import 'form-create';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import 'form-login';
@import 'form-signup';
@import 'variables';
a {
    text-decoration: none;
}
.poll {
    border: 1px solid gray;
    margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
    &:hover {
        border-color: green;
        cursor: hand;
        cursor: pointer;
    }
}
