.login-container {
    padding: 1em;
    h2, .link-signup {
        text-align: center;
    }
    .form-login {
        display: flex;
        flex-direction: column;
        width: 25%;
        min-width: 300px;
        margin: 1em auto 1em auto;
        background-color: rgb(237,238,238);
        border-radius: 2px;
        label, input {
            display: block;
        }
        label {
            margin-bottom: 0.1em;
        }
        .username-box, .password-box {
            flex-grow: 1;
            margin: 0.5em;
            input {
                width: 94%;
                padding: 0.5em;
                border: 1px solid rgb(208,210,211);
                border-radius: 2px;
                &:hover {
                    border-color: rgb(157,165,170);
                }
            }
        }
        .button-box {
            flex-grow: 1;

            margin: 0.5em;
            text-align: center;
            button {
                width: 99.7%;
                background: $monkey-green;
                color: white;
                border: none;
                padding: 0.5em;
                border-radius: 2px;
                &:hover {
                    background-color: $light-monkey-green;
                }
            }
        }

    }
}
