@import 'variables';
.landing-container {
    h1 {
        color: $monkey-green;
    }
    .signup {
        border: 1px solid $monkey-green;
        padding: .5em;
        border-radius: 2px;
        color: $monkey-green;
        &:hover {
            background: $monkey-green;
            color: white;
        }
    }
    margin-bottom: 1em;
}
