.nav-container {
    border: 1px dashed gray;
    .auth {
        display: inline-block;
    }
    .link-to-user {
        display: inline-block;
    }
    .username {
        display: inline-block;
        cursor: hand;
        cursor: pointer;
        color: rgb(18,127,169);
        &:hover {
            text-decoration: underline;
        }
    }
}
