@import 'variables';
.nav-container {
    border: 1px dashed gray;
    background: $monkey-green;
    padding: 1em;
    .link-polls {
        color: white;
    }
    .auth {
        float: right;
        display: inline-block;
        .login, .signup {

        }
        .login {
            border: 1px solid white;
            padding: .5em;
            border-radius: 2px;
            color: white;
            &:hover {
                background: white;
                color: $monkey-green;
            }
        }
    }
    .link-user {
        display: inline-block;
    }
    .username {
        display: inline-block;
        cursor: hand;
        cursor: pointer;
        color: rgb(18,127,169);
        &:hover {
            text-decoration: underline;
        }
    }
}
