@import 'variables';
.nav-container {
    // border: 1px dashed gray;
    background: $monkey-green;
    padding: 0.5em;
    height: 50px;
    .logo-box, .link-polls-box, .create-button-box, .link-user, .auth {
        display: inline-block;
    }
    .logo-box {
        display: inline-block;
        line-height: 50px;
        .logo {
            img {
                height: 40px;
            }
        }
    }
    .link-user {
        position: absolute;
        right: 0;
        line-height: 50px;
        z-index: 10;
        margin-right: 1em;
        color: white;
        &:hover {
            border-bottom: 3px solid white;
        }
    }
    .link-polls-box {
        // border: 1px solid red;
        display: inline-block;
        margin-left: 1em;
        .link-polls {
            color: white;
            font-size: 2em;
            &:hover {
                border-bottom: 3px solid white;
            }
        }
    }
    .auth {
        float: right;
        line-height: 50px;
        .login {
            // line-height: 30px;
            border: 1px solid white;
            padding: .5em;
            border-radius: 2px;
            color: white;
            &:hover {
                background: white;
                color: $monkey-green;
            }
        }
    }
    .username {
        display: inline-block;
        cursor: hand;
        cursor: pointer;
        color: rgb(18,127,169);
        // &:hover {
        //     text-decoration: underline;
        // }
    }
    .create-button-box {
        .create-button {
            color: white;
            &:hover {
                border-bottom: 3px solid white;
            }
        }
    }
}
