@import 'variables';
.updates-container {
    width: 300px;
    left: 50%;
    transform: translateX(-150px);
    position: absolute;
    top: 15%;
    z-index: 10;
    .form-fullname, .form-email, .form-password, .form-username {
        display: flex;
        flex-direction: column;
        width: 25%;
        min-width: 300px;
        margin: 0 auto 0 auto;
        background-color: rgb(237,238,238);
        border-radius: 2px;
        label, input {
            display: block;
        }
        label {
            margin-bottom: 0.1em;
        }
        .firstname-box, .lastname-box, .email-box, .password-box, .new-password-box, .username-box {
            flex-grow: 1;
            margin: 0.5em;
            input {
                width: 94%;
                padding: 0.5em;
                border: 1px solid rgb(208,210,211);
                border-radius: 2px;
                &:hover {
                    border-color: rgb(157,165,170);
                }
            }
        }
        .buttons-box {
            display: flex;
            flex-direction: row;
            margin: 0.5em;
            text-align: center;
            button {
                flex-grow: 1;
                width: 99.7%;
                background: $monkey-green;
                color: white;
                border: none;
                padding: 0.5em;
                border-radius: 2px;
                cursor: hand;
                cursor: pointer;
                &:hover {
                    background-color: $light-monkey-green;
                }
            }
        }
        .first-button {
            margin-right: 0.5em;
        }
    }
}
