.user-content-container {
    .my-account {
        border-bottom: 1px solid black;
    }
    .login-details-box {
        border: 1px solid gray;
        a {
            color: rgb(18,127,169);
            &:hover {
                text-decoration: underline;
            }
        }
        .col {
            display: inline-block;
        }
    }
    .my-polls-box {
        margin-bottom: 1em;
    }
}
