@import 'variables';
.user-content-container {
    background-color: $background-gray;
    h3 {
        text-align: center;
    }
    .title-dashboard {
        border-bottom: 1px solid $poll-border-gray;
        padding: 1em;
    }
        .login-details-box {
            background-color: white;
            margin: auto;
            width: 50%;
            border: 1px solid rgb(236,236,236);
            padding: 1em;
            .row+.row {
                margin-top: 0.5em;
            }
            .row {
                display: flex;
                flex-direction: row;
                .col {
                    flex-grow: 1;
                    flex-basis: 50%;
                    a {
                        color: rgb(18,127,169);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .my-polls-box {
            padding-bottom: 1em;
            .fa.fa-trash-o {
                &:hover {
                    font-size: 1.5em;
                }
            }
        }
}
