@import 'variables';
.user-content-container {
    background-color: $background-gray;
    h3 {
        text-align: center;
    }
    .title-dashboard {
        // padding-top: 1em;
        border-bottom: 1px solid $poll-border-gray;
        padding: 1em;
    }
    // .login-details-container {
    //     border: 1px dashed green;
    //     background-color: rgb(246,246,246);
        .login-details-box {
            // background-color: rgb(246,246,246);
            background-color: white;
            margin: auto;
            width: 50%;
            border: 1px solid rgb(236,236,236);
            // display: flex;
            // flex-direction: column;
            padding: 1em;
            .row+.row {
                margin-top: 0.5em;
            }
            .row {
                display: flex;
                // flex-grow: 1;
                flex-direction: row;

                .col {
                    // border: 1px dashed black;
                    flex-grow: 1;
                    flex-basis: 50%;
                    // display: inline-block;
                    a {
                        color: rgb(18,127,169);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .my-polls-box {
            padding-bottom: 1em;
            // width: 50%;
            // margin: auto;
        }
    // }
}
